body{
    overflow-y: hidden;
}
.section{
    
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1{
    font-size: 4rem;
    letter-spacing: 3px;
}